<div class="mt-6 space-y-4">
  <%- if controller_name != 'sessions' %>
    <%= link_to t('.sign_in'), new_session_path(resource_name), class: "text-indigo-600 hover:text-indigo-500" %>
  <% end %>

  <%- if devise_mapping.registerable? && controller_name != 'registrations' %>
    <%= link_to t('.sign_up'), new_registration_path(resource_name), class: "text-indigo-600 hover:text-indigo-500" %>
  <% end %>

  <%- if devise_mapping.recoverable? && controller_name != 'passwords' && controller_name != 'registrations' %>
    <%= link_to t('.forgot_your_password'), new_password_path(resource_name), class: "text-indigo-600 hover:text-indigo-500" %>
  <% end %>

  <%- if devise_mapping.confirmable? && controller_name != 'confirmations' %>
    <%= link_to t('.didn_t_receive_confirmation_instructions'), new_confirmation_path(resource_name), class: "text-indigo-600 hover:text-indigo-500" %>
  <% end %>

  <%- if devise_mapping.lockable? && resource_class.unlock_strategy_enabled?(:email) && controller_name != 'unlocks' %>
    <%= link_to t('.didn_t_receive_unlock_instructions'), new_unlock_path(resource_name), class: "text-indigo-600 hover:text-indigo-500" %>
  <% end %>

  <%- if devise_mapping.omniauthable? %>
    <div class="space-y-3 mt-4">
      <%- resource_class.omniauth_providers.each do |provider| %>
        <%= button_to t('.sign_in_with_provider', provider: OmniAuth::Utils.camelize(provider)), omniauth_authorize_path(resource_name, provider), data: { turbo: false }, class: "py-2 px-4 border border-transparent rounded-md shadow-sm text-sm font-medium text-white bg-indigo-600 hover:bg-indigo-700 focus:outline-none focus:ring-2 focus:ring-offset-2 focus:ring-indigo-500" %>
      <% end %>
    </div>
  <% end %>
</div>
