<section class="flex justify-center my-4">
  <table class="w-3/4 bg-white border border-gray-300 m-1">
    <thead>
      <tr>
        <th class="px-6 py-3 bg-gray-100 border-b border-gray-300 text-left"><%= t('.short') %></th>
        <th class="px-6 py-3 bg-gray-100 border-b border-gray-300 text-left"><%= t('.original') %></th>
        <th class="px-6 py-3 bg-gray-100 border-b border-gray-300 text-center"><%= t('.date') %></th>
        <th class="px-6 py-3 bg-gray-100 border-b border-gray-300 text-center"><%= t('.expired') %></th>
        <th class="px-6 py-3 bg-gray-100 border-b border-gray-300 text-center"><%= t('.clicks') %></th>
        <th class="px-6 py-3 bg-gray-100 border-b border-gray-300 text-center"><%= t('.copy') %></th>
        <th class="px-6 py-3 bg-gray-100 border-b border-gray-300 text-center"><%= t('.edit') %></th>
        <th class="px-6 py-3 bg-gray-100 border-b border-gray-300 text-center"><%= t('.destroy') %></th>
      </tr>
    </thead>
    <tbody id="account_urls">
      <% links.each do |link| %>
        <%= render 'account/urls/link', link: %>
      <% end %>
    </tbody>
  </table>
</section>
<div class="flex align-center justify-center mt-4">
  <%== pagy_nav @pagy %>
</div>
