<!DOCTYPE html>
<html>
  <head>
    <% if Rails.env.production? %>
      <%= render 'google/analytics' %>
      <%= render 'google/adsense' %>
    <% end %>
    <title>UrlCrew</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <%= javascript_include_tag "application", "data-turbo-track": "reload", defer: true %>
  </head>

  <body class="flex flex-col min-h-screen bg-white">
    <header class="flex justify-between items-center px-6 py-4">
      <h1 class="text-2xl font-bold">UrlCrew</h1>
    </header>
    <%= yield %>
  </body>
</html>
